<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <mat-list>
            <div matRipple>
                <a mat-list-item href="#">
                    <mat-icon matListIcon>account_box</mat-icon>
                    <h3 matLine>Account</h3>
                </a>
            </div>
            <mat-divider></mat-divider>
            <div matRipple>
                <a mat-list-item href="#">
                    <mat-icon matListIcon>account_balance</mat-icon>
                    <h3 matLine>Bank</h3>
                </a>
            </div>
            <mat-divider></mat-divider>
            <div matRipple>
                <a mat-list-item href="#">
                    <mat-icon matListIcon>credit_card</mat-icon>
                    <h3 matLine>Credit Cards</h3>
                </a>
            </div>            
            <mat-divider></mat-divider>
            <div matRipple>
                <a mat-list-item href="#">
                    <mat-icon matListIcon>attach_money</mat-icon>
                    <h3 matLine>Transactions</h3>
                </a>
            </div>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>